<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=fname%> | details</title>
</head>
<body>
    <h1>
        <%=fname%> <%=lname%>
        <%if(ispremium) {%>
            <span>☑️</span>
        <%}%>
    </h1>
    <img src="<%=profImage%>" alt="pic">
    <h3><%=email%>@gmail.com</h3>
</body>
</html>